body {
  width: 320px;
  /* white-space: nowrap; */


   /* #2874A6;
   #0C97E1;
  #AED?6F1; */

  /* max-width: 300px; */
  font-family: Arial;
}



ul{
  list-style-type: none;
  padding: 3px;
  display: block;

}

ul li {
list-style-position: inside;
float: none;
/* height: 90px;
margin-top: 30px; */
  /* background-color: #A9CCE3; */
}

ul li .wxBox{
margin-top: 0px;
  /* background-color: #A9CCE3; */
}

#container {
  /* justify-content: space-between; */
  /* text-overflow: ellipsis; */
  /* display: table;    Allow the centering to work */
  /* margin: 0 auto; */

  background-color: #9fabb7;
  margin: 0px;
  padding: 0px;

}

.header{
  background-color: #778899;
  margin: 0px;
  padding: 5px;
  padding-left: 12px;
}

.content{
  background-color: #9fabb7;
  margin: 0px;
  padding: 0px 0px 80px 10px;

}

.text-forecast {
  clear: both;
  display: block;
  font-size: 10px;
  color: #404143;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 4px;
}

.wxReport{
  display: block;
}

.wxBox{
  display: block;
  float: left;
  word-wrap: break-word;
  margin-right: 1px;

}

.day {
    overflow: hidden;
    text-align: center;
    height:8px;
    width: 42px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #3f3f3f;
    font-size: 8px;
    color:white;
    text-overflow: ellipsis;
    /* word-wrap: break-word; */
    padding: 2px 2px 2px 2px;
    border: 1px solid  #3f3f3f;
    border-bottom:none;
  }

.icon {
    width: 42px;
    background-color: #d3d3d3;
    overflow: hidden;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #3f3f3f;
    text-align: center;
    font-size: 8px;
    color: #000000;
  }

  .glyph {
    max-width: 50%;
    size: 25%;
    margin: 1px;
  }
